# This file causes devicemapper devices to be assigned names by udev
# based on the name given to dmsetup.
# See udev(8) for syntax.

SUBSYSTEM!="block", GOTO="dmsetup_end"
KERNEL!="dm-*", GOTO="dmsetup_end"

# Make sure we set no name if devmap_name fails
ACTION=="add|change", OPTIONS+="no_replace", \
		PROGRAM="/sbin/devmap_name %M %m", NAME="mapper/$result", \
		GOTO="dmsetup_end"
ACTION=="add|change", NAME=""

LABEL="dmsetup_end"
